extends layout

block content
    .clearfix
        img(src=userinfo.image[1]['#text']).avatar
        h1 Hi, #{userinfo.name}
    hr
    br
    .panel.panel-primary
        .panel-heading
            span.glyphicon.glyphicon-calendar
            | &nbsp; Friday, September 16, 2016
        .panel-body
            label
                span.glyphicon.glyphicon-flash(aria-hidden='true')
                | &nbsp; Choose your emotional state on this day:
            br
            .btn-group(data-toggle='buttons')
                label.btn.btn-warning
                    input(type='radio', name='options', autocomplete='off')
                    |  Excited
                label.btn.btn-success
                    input(type='radio', name='options', autocomplete='off')
                    |  Happy
                label.btn.btn-primary
                    input(type='radio', name='options', autocomplete='off')
                    |  Sad
                label.btn.btn-danger
                    input(type='radio', name='options', autocomplete='off')
                    |  Angry
    .panel.panel-primary
        .panel-heading
            span.glyphicon.glyphicon-calendar
            | &nbsp; Friday, September 16, 2016
        .panel-body
            label
                span.glyphicon.glyphicon-flash(aria-hidden='true')
                | &nbsp; Choose your emotional state on this day:
            br
            .btn-group(data-toggle='buttons')
                label.btn.btn-warning
                    input(type='radio', name='options', autocomplete='off')
                    |  Excited
                label.btn.btn-success
                    input(type='radio', name='options', autocomplete='off')
                    |  Happy
                label.btn.btn-primary
                    input(type='radio', name='options', autocomplete='off')
                    |  Sad
                label.btn.btn-danger
                    input(type='radio', name='options', autocomplete='off')
                    |  Angry
block scripts