extends layout

block content
    .panel.panel-primary
        .panel-heading Friday, September 16, 2016
        .panel-body
            p tets

            .btn-group(role='group', aria-label='...')
                button.btn.btn-default.excited.width(type='button') excited
                button.btn.btn-default.happy.width(type='button') happy
                button.btn.btn-default.sad.width(type='button') sad
                button.btn.btn-default.angry.width(type='button') angry

        .panel-body
            p tets

            .btn-group(role='group', aria-label='...')
                button.btn.btn-default.excited.width(type='button') excited
                button.btn.btn-default.happy.width(type='button') happy
                button.btn.btn-default.sad.width(type='button') sad
                button.btn.btn-default.angry.width(type='button') angry

block scripts