body {
    padding-top: 70px;
}

#canvas {
    width: 320px;
    height: 320px;
    background: #ccc;
    position: relative;
    margin: 2em auto;
    border-radius: 10px;
    box-sizing: border-box;
}

#box {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background: green;
    cursor: pointer;
    border-radius: 50%;
    box-sizing: border-box;
}

#results {
    text-align: center;
}

.avatar {
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    margin-top: 10px;
}

.progress {
    height: 25px;
}

.progress .progress-bar {
    font-size: 20px;
    line-height: 25px;
}